<div class="row">
    <mat-card class="col-12">
        <h4>Contact Information</h4>
    </mat-card>
</div>
<mat-divider class="my-3"></mat-divider>
<div class="row mb-5">
    <div class="col-12 col-md-4">
        <address>
            <p>
                <strong>Ankit Kumar</strong>
            </p>
            <p>Bangalore</p>
            <p>India</p>
        </address>
        <address>
            <p><strong>Email</strong></p>
            <a href="mailto:myemail@email.com">myemail@email.com</a>
        </address>
    </div>
    <div class="col-12 col-md-8">
        <form action="">
            <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Your Email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Subject" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Message" required></textarea>
            </mat-form-field>
            <button mat-stroked-button type="submit">Submit</button>
        </form>
    </div>
</div>