<!-- This is the example of class binding -->
<div>
    <h1 [class.myClass]="isTrue">This class binding is for true value</h1>
    <h1 [class.myClass]="!isTrue">This class binding is for false value</h1>
</div>
<!-- <div class="myClass">Setting class without binding</div>
<div class="myClass" [class]="myClassBinding">Setting all classes with binding</div> -->
<!-- This is the example of Style Binding -->
<p>Style Binding</p>
<div>
    <span [style.font-size.px]="isTrue? 20 : 12">This style binding is set for true value</span>
    <span [style.font-size.%]="!isTrue? 120 : 30">This style binding is set for false value</span>
</div>